body{
    background-image: url("/img/background.jpg");
    background-size: cover;
    color: darkgreen;
    text-align: center;
}


label{
    font-size: 1.4em;
    display: block;
    padding-bottom: 1em;
}

input{
    width: 300px;
    padding: 0.3em;
    margin: auto;
    display: block;
    margin-bottom: 1em;
}

button{
    background: transparent;
    border: 2px solid darkgreen;
    padding: 0.8em;
    color: darkgreen;
    cursor: pointer;
    border-radius: 0.5em;
    transition: ease-in-out 0.9s ease;
    margin: 1em 0em;
    font-size: 1em;
}

button:hover{
    background-color: darkgreen;
    color: white;
}


.company_name{
    font-size: 2.2em;
    font-weight: bold;
    text-decoration: underline;    
}

.container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 2em;
}

.emp_details,.payroll_details{
    border: 2px solid black
}

#displayed_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

@media only screen and (max-width: 48em) {
    
    .container{
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 1em;
    }    

    #displayed_content {
        
        display: block;
        margin-bottom: 1em;
    }
  }