table
{   font-size: 1.2em;
    width: auto;
    text-align: center;
}

input{
    padding: 0.3em;
}

.container form{
    text-align: center;
    border: 1px solid black;
    padding: auto;
    margin-top: 5em;
    
}

body{
    background-image: url("/img/background.jpg");
    background-size: cover;
    color: darkgreen;
    text-align: center;
}

button{
    background: transparent;
    border: 2px solid darkgreen;
    padding: 0.5em;
    color: darkgreen;
    cursor: pointer;
    border-radius: 0.5em;
    transition: ease-in-out 0.9s ease;
}

button:hover{
    background-color: darkgreen;
    color: white;
}

